body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.image-container {
    height: 400px;
    padding: 50px;
}

.preview-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.dropzone-container {
    height: 400px;
    width: 400px;
    margin: auto;
    background-color: cornflowerblue;
}

.images {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}
